

$font-primary: 'Work Sans',Arial, sans-serif;
$font-size-primary: 20px;

$white: #fff;
//$black: #404044;
$black: #111112;
$gray: #808080;


$primary: $gray;

body {
	font-family: $font-primary;
	background: $white;
	font-size: $font-size-primary;
	line-height: 1.8;
	font-weight: 300;
	color: $gray;
}



.navbar-brand {
	font-weight: 700;
	line-height: 1;
	font-size: 20px;
}

.dark-mode {
	background-color: $black;
	color: $white;
	$primary: $white;
}

@import "../bootstrap/scss/bootstrap";